body {
  margin: 0 auto;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
header {
  height: 5em;
  background: #70a300;
}
section {
  height: 80%;
}
.container {
  height: 80%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  .col {
      width: 100%;
    .welcome {
      margin: 3em;
      padding: 4em;
      background: #f5f5f5;
      box-shadow: 0px 4px 56px #c4c4c4;
      border-radius: 39px;
      h1 {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 2em;
        line-height: 1.5em;
        display: flex;
        align-items: center;
        text-align: center;
        flex: none;
        order: 0;
        align-self: center;
        margin: 10px 0px;
        color: #2a8a84;
      }
    }
    .description {
      margin: 1em;
      padding: 1em;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 1em;
      line-height: 1.5em;
      display: flex;
      align-items: center;
   
      justify-content: center;
      
    }
    p{
         text-align: center;
      align-self: center;
      flex:none;
    }
    
  }
  img{
      display: block;
      margin: auto;
        width: 30vw;
    }
}

button {
  background: #639100;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 25px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 49px;
  display: flex;
  align-items: center;
  text-align: center;
padding: 0.3em;
  color: #ffffff;
    cursor: pointer;
  display: block;
  margin: 0 auto;
  widows: 200px;
  height: 3em;
  width: 10em;
}

footer {
  height: 5em;
  background: #9dbc5a;
}

@media (max-width: 700px) {
  .welcome {
    padding: 1em !important;
  }
  .description {
    display: none !important;
  }
  img {
    width: 100px !important;
  }
}