@mixin universal-container {
   height: 100%;
   margin: 0 auto;
   margin-top: 2em;
    width: 90%;
    background: #f5f5f5;
    box-sizing: border-box;
    box-shadow: 0px 4px 56px #c4c4c4;
    border-radius: 39px;
    @include grid;
}
@mixin grid {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "income finance finance outcome";
}
@mixin wallet-container {
    position: relative;
  height: 100%;
   margin: 0 auto;
   margin-top: 2em;
    width: 90%;
    background: #f5f5f5;
    border: 1px solid #ababab;
    box-sizing: border-box;
    box-shadow: 0px 4px 56px #c4c4c4;
    border-radius: 39px;
}
@mixin input {
     display:block;
    border:2px solid rgb(32, 108, 28);
    font-size:14px;
    border-radius:5px;
}