$fonts : 'Assistant', sans-serif; 

:root { //root pseudo class a lightmode-hoz
  --footer-header-bg: #70a300;
  --heading-color: white;
  --main-color: black;
  --section-bg: #E7EAEE;
  --column-bg:white;
  --shadow-color:#c4c4c4;
  --get-started-bg: #639100;
  --get-started-color: white;
--get-started-hover-bg:lightgreen;
--get-started-hover-color: black;
--color:black;
--hue:hue-rotate(0deg);
--input-bg:white;

}
//darktheme pseudo class colors
[data-theme="dark"] {
  --footer-header-bg: #232222;
  --heading-color: rgb(108, 159, 237);
  --main-color:white;
  --section-bg: #000000;
   --column-bg:#2b2b2b;
  --shadow-color:black;
  --get-started-bg: rgb(97, 148, 225);;
  --get-started-color: #232222;
--get-started-hover-bg:rgb(10, 56, 125);
--color: rgb(117, 163, 232);
--hue: hue-rotate(130deg);
--input-bg:black;
}


@mixin universal-container {
   height: 90%;
   margin: 0 auto;
   margin-top: 2em;
   align-items: center;
    width: 90%;
    background:var(--column-bg);
    box-sizing: border-box;
    box-shadow: 0px 4px 56px var(--shadow-color);
    border-radius: 39px;
    @include grid;
    color:var(--color);
}
@mixin grid {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "income finance finance outcome";
}
@mixin wallet-container {
    position: relative;
  height: 90%;
   margin: 0 auto;
   margin-top: 2em;
    width: 90%;
    background: var(--column-bg);
    box-shadow: 0px 4px 56px var(--shadow-color);
    border-radius: 39px;
    color:var(--color);
}
@mixin input {
     display:block;
    border:2px solid var(--get-started-bg);
    font-size:14px;
    background: var(--input-bg);
    color: var(--main-color);
    width: 100%;
}