@import url('https://fonts.googleapis.com/css?family=Assistant:600&display=swap');
@import 'animation.scss';
@import 'variables.scss';
* {
  font-family: $fonts;
}
body {
  margin: 0 auto;
  box-sizing: border-box;
  height: 100%;
  width: 100vw;
}
/*Header with flexbox (for navbar)*/
header {
  padding: 0.5em;
  color: white;
  height: 5vh;
  background: #70a300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  nav {
    margin: 0;
    .nav__links {
      list-style: none;
      li {
        display: inline-block;
        padding: 1rem 20px;
        a {
          font-size: 20px;
          color: white;
          text-decoration: none;

          &:hover {
            transition: all 0.5s ease 0s;
            color: black;
          }
        }
      }
    }
  }
}
section {
height: 80vh;

}
//Start Page container
.start-container {
   margin-top: 2em;
  height: 85%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .col {
    width: 100%;
    .welcome {
      margin: 2em;
      padding: 3em;
      background: #f5f5f5;
      box-shadow: 0px 4px 56px #c4c4c4;
      border-radius: 39px;
      h1 {
       font-family: $fonts;
       font-weight: 400;
        font-style: normal;
        font-weight: bold;
        font-size: 2em;
        line-height: 1.5em;
        display: flex;
        align-items: center;
        text-align: center;
        flex: none;
        order: 0;
        align-self: center;
        margin: 10px 0px;
        color: #2a8a84;
      }
    }
    .description {
      margin: 1em;
      padding: 1em;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 1em;
      line-height: 1.5em;
      display: flex;
      align-items: center;

      justify-content: center;
    }
    p {
      text-align: center;
      align-self: center;
      flex: none;
    }
  }
  img {
    display: block;
    margin: auto;
    width: 30vw;
  }
}
//actions page
 .universal-container {
 @include universal-container;
  transition: all 0.5s ease 0s;
  }
  .income, .outcome, .finance {
   
    text-align: center;
    h1 {
      font-size: 4vw;
    }
    h2 {
      font-size: 2vw;
    }
  }
  .income {
grid-area: income;
  }
  .outcome {
    grid-area: outcome;
  }
  .finance {
grid-area: finance;
width: 100%;
table {
  padding: 1em;
}

  }
.submission-form{
  text-align: center;
  max-width:20vw;
  padding: 1vw;
  margin:0 auto;
  border-radius:5px;
  select, select option {
    display:block;
    padding:1vw;
    border:2px solid rgb(32, 108, 28);
    font-size:0.8em;
    width:100%;
  }
  label{
    display:block;
    padding:1vw;
    font-size:80%;
  }
  input, textarea{
   @include input;
   width: 100%;
  }
  .button {
    padding: 1vw;
    margin: 0 auto;
     margin-top: 2em;
     display: block;
     max-width: 20vw;
     border-radius: 30px;
     border: 0px;
     font-size: 1em;
     text-transform: uppercase;
     font-weight: 700;
     color: white;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     transition: all 0.5s ease 0s;
     &-income{
      background: #7E9C3D;
     }
     &-outcome {
       background: #D97F7F;
     }
     &:hover {
       transform: scale(1.2);
     }
  }
  
}
table {
  width: 100%;
  & tr {
width: 100%;
  }
}


.get-started {
  z-index: 1;
  background: #639100;
  border: 0px;
  border-radius: 25px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 49px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  height: 3em;
  width: 10em;
  transition: all 0.5s ease 0s;
  &:hover {
    background-color: lightgreen;
    color: black;
  }
}
//wallet page
.wallet-container {
   height: 100vh; /* or position:absolute; height:100%; */
  @include wallet-container;
  transition: all 0.5s ease 0s;

  h1{
    margin: 0 auto;
    padding: 1em;
    text-align: center;
  }
  form {
    display:flex;
    justify-content: space-around;
    align-items: center;
    input {
      margin: 2vw;
      @include input;
      width: 70%;
    }
    label {
      font-weight:900;
      font-size: 16px;
      margin: 2vw;
      text-align: center;
    }
  }
  table {
    margin: 0 auto;
    text-align: center;
    padding: 1em;
    font-size: 2.2vw;
    width: 90%;
    
  }
  
}
.history {
height: 70%;
overflow: auto;
}
  
footer {
  background: #9dbc5a; 
  height: 5vh;
}


@media (max-width: 750px) {
  .universal-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "income outcome" !important;
  }
  .finance {
    display:none !important;
  }
  .welcome {
    padding: 1em !important;
  }
  .description {
    display: none !important;
  }
  .picture {
    width: 100px !important;
  }
}

