@import url("https://fonts.googleapis.com/css?family=Assistant:600&display=swap");
@-webkit-keyframes coins {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    opacity: 0;
    top: 0%;
  }
  10% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  30% {
    opacity: 1;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(240deg);
            transform: rotate(240deg);
  }
  80% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    opacity: 0;
    top: 90%;
  }
}
@keyframes coins {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    opacity: 0;
    top: 0%;
  }
  10% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  30% {
    opacity: 1;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(240deg);
            transform: rotate(240deg);
  }
  80% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    opacity: 0;
    top: 90%;
  }
}

:root {
  --footer-header-bg: #70a300;
  --heading-color: white;
  --main-color: black;
  --section-bg: #E7EAEE;
  --column-bg:white;
  --shadow-color:#c4c4c4;
  --get-started-bg: #639100;
  --get-started-color: white;
  --get-started-hover-bg:lightgreen;
  --get-started-hover-color: black;
  --color:black;
  --hue:hue-rotate(0deg);
  --input-bg:white;
}

[data-theme="dark"] {
  --footer-header-bg: #232222;
  --heading-color: rgb(108, 159, 237);
  --main-color:white;
  --section-bg: #000000;
  --column-bg:#2b2b2b;
  --shadow-color:black;
  --get-started-bg: rgb(97, 148, 225);
  --get-started-color: #232222;
  --get-started-hover-bg:rgb(10, 56, 125);
  --color: rgb(117, 163, 232);
  --hue: hue-rotate(130deg);
  --input-bg:black;
}

* {
  font-family: "Assistant", sans-serif;
}

body {
  background-color: var(--section-bg);
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100vw;
}

/*Header with flexbox (for navbar)*/
header {
  z-index: 1;
  color: var(--heading-color);
  position: absolute;
  top: 0;
  height: 7%;
  width: 100%;
  background: var(--footer-header-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  padding: 1em;
  font-size: 26px;
}

header nav {
  padding: 0;
  margin: 0;
}

header nav .nav__links {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  list-style: none;
}

header nav .nav__links li {
  display: inline-block;
  padding: 20px;
}

header nav .nav__links li a {
  font-size: 20px;
  color: var(--heading-color);
  text-decoration: none;
}

header nav .nav__links li a:hover {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: var(--main-color);
}

header .bars {
  position: absolute;
  right: 2%;
  margin: 0 auto;
  display: none;
  cursor: pointer;
}

header .bars .bar1,
header .bars .bar2,
header .bars .bar3 {
  width: 20px;
  height: 3px;
  background-color: var(--heading-color);
  margin: 3px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 5px);
          transform: rotate(-45deg) translate(-4px, 5px);
}

header .change .bar2 {
  opacity: 0;
}

header .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-3px, -5px);
          transform: rotate(45deg) translate(-3px, -5px);
}

header .theme-switch-wrapper {
  position: absolute;
  top: 25%;
  left: 35vh;
}

header .theme-switch-wrapper input[type='checkbox'] {
  width: 40px;
  height: 20px;
  background: var(--get-started-hover-bg);
  border-radius: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

header .theme-switch-wrapper input[type='checkbox']:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 9%;
  top: 10%;
  background-color: white;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

header .theme-switch-wrapper input:checked[type='checkbox']:before {
  left: 50%;
}

section {
  z-index: -1;
  background-color: var(--section-bg);
  top: 7%;
  position: absolute;
  height: 85vh;
  width: 100%;
}

section #coins {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.start-container {
  padding-top: 2em;
  height: 70%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.start-container .col {
  width: 100%;
}

.start-container .col .welcome {
  margin: 2em;
  padding: 3em;
  background: var(--column-bg);
  -webkit-box-shadow: 0px 4px 56px var(--shadow-color);
          box-shadow: 0px 4px 56px var(--shadow-color);
  border-radius: 39px;
}

.start-container .col .welcome h1 {
  font-family: "Assistant", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  line-height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 10px 0px;
  color: var(--color);
}

.start-container .col p {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.start-container img {
  display: block;
  margin: auto;
  width: 30vw;
  -webkit-filter: var(--hue);
          filter: var(--hue);
}

.universal-container {
  height: 90%;
  margin: 0 auto;
  margin-top: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  background: var(--column-bg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 56px var(--shadow-color);
          box-shadow: 0px 4px 56px var(--shadow-color);
  border-radius: 39px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "income finance finance outcome";
  color: var(--color);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.income,
.outcome,
.finance {
  text-align: center;
}

.income h1,
.outcome h1,
.finance h1 {
  font-size: 4vh;
}

.income h2,
.outcome h2,
.finance h2 {
  font-size: 3vh;
}

.income {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: income;
}

.outcome {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: outcome;
}

.finance {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: finance;
  width: 100%;
}

.finance table {
  padding: 1em;
}

.submission-form {
  text-align: center;
  padding: 1vw;
  margin: 0 auto;
  max-width: 30vw;
}

.submission-form select,
.submission-form option {
  background: var(--input-bg);
  display: block;
  border: 2px solid var(--get-started-bg);
  font-size: 0.8em;
  width: 103%;
  color: var(--main-color);
}

.submission-form label {
  display: block;
  padding: 1vw;
  font-size: 2vh;
}

.submission-form input {
  display: block;
  border: 2px solid var(--get-started-bg);
  font-size: 14px;
  background: var(--input-bg);
  color: var(--main-color);
  width: 100%;
}

.submission-form .button {
  padding: 1vw;
  margin: 0 auto;
  margin-top: 2em;
  display: block;
  max-width: 20vw;
  border-radius: 30px;
  border: 0px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--main-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.submission-form .button-income {
  background: #7e9c3d;
}

.submission-form .button-outcome {
  background: #d97f7f;
}

.submission-form .button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

table {
  color: var(--main-color);
  width: 100%;
}

table tr {
  width: 100%;
}

.get-started {
  z-index: 2;
  background: var(--get-started-bg);
  border: 0px;
  border-radius: 25px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 49px;
  text-align: center;
  color: var(--get-started-color);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  height: 3em;
  width: 10em;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.get-started:hover {
  background-color: var(--get-started-hover-bg);
  color: var(--main-color);
}

.wallet-container {
  height: 100vh;
  /* or position:absolute; height:100%; */
  position: relative;
  height: 90%;
  margin: 0 auto;
  margin-top: 2em;
  width: 90%;
  background: var(--column-bg);
  -webkit-box-shadow: 0px 4px 56px var(--shadow-color);
          box-shadow: 0px 4px 56px var(--shadow-color);
  border-radius: 39px;
  color: var(--color);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.wallet-container h1 {
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}

.wallet-container form {
  padding: 0 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wallet-container form input {
  margin: 2vw;
  display: block;
  border: 2px solid var(--get-started-bg);
  font-size: 14px;
  background: var(--input-bg);
  color: var(--main-color);
  width: 100%;
  width: 70%;
}

.wallet-container form label {
  font-weight: 900;
  font-size: 3vh;
  margin: 2vw;
  text-align: center;
}

.wallet-container table {
  margin: 0 auto;
  text-align: center;
  padding: 1em;
  font-size: 2.2vw;
  width: 90%;
  color: var(--main-color);
}

.history {
  height: 60%;
  overflow: auto;
}

footer {
  color: var(--heading-color);
  z-index: 1;
  position: absolute;
  height: 8%;
  bottom: 0;
  width: 100%;
  background: var(--footer-header-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.chart-container {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-height: 70%;
}

.barChart {
  padding: 1em;
}

.pieChart {
  padding: 1em;
}

@media (max-width: 750px) {
  .universal-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'income outcome' !important;
  }
  .finance {
    display: none !important;
  }
  .welcome {
    padding: 1em !important;
  }
  .picture {
    width: 100px !important;
  }
  nav .responsive {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-color: var(--footer-header-bg);
    position: absolute;
    top: 15%;
    right: 0%;
    display: inline-block !important;
  }
  nav .responsive li {
    display: block !important;
  }
  nav ul li {
    display: none !important;
  }
  .bars {
    display: inline-block !important;
  }
}
/*# sourceMappingURL=style.css.map */