@import url('https://fonts.googleapis.com/css?family=Assistant:600&display=swap');
@import 'animation.scss';
@import 'variables.scss';

* {
  font-family: $fonts;
}
body {
  background-color: var(--section-bg);
  margin: 0 auto;
  box-sizing: border-box;
  height: 100%;
  width: 100vw;
}
/*Header with flexbox (for navbar)*/
header {
  h1 {
    padding: 1em;
    font-size: 26px;
  }
  z-index: 1;
  color: var(--heading-color);
  position: absolute;
  top: 0;
  height: 7%;
  width: 100%;
  background: var(--footer-header-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  nav {
    padding: 0;
    margin: 0;
    .nav__links {
      transition: all 0.5s ease 0s;
      list-style: none;
      li {
        display: inline-block;
        padding: 20px;
        a {
          font-size: 20px;
          color: var(--heading-color);
          text-decoration: none;

          &:hover {
            transition: all 0.5s ease 0s;
            color: var(--main-color);
          }
        }
      }
    }
  }
  //expand navbar
  .bars {
    position: absolute;
    right: 2%;
    margin: 0 auto;
    display: none;
    cursor: pointer;
    .bar1,
    .bar2,
    .bar3 {
      width: 20px;
      height: 3px;
      background-color: var(--heading-color);
      margin: 3px 0;
      transition: 0.4s;
    }
  }
  .change .bar1 {
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: rotate(45deg) translate(-3px, -5px);
  }
  //dark-light changer
  .theme-switch-wrapper {
    position: absolute;
    top: 25%;
    left: 200px;
    input[type='checkbox'] {
      width: 40px;
      height: 20px;
      background: var(--get-started-hover-bg);
      border-radius: 20px;
      appearance: none;
      transition: all 0.5s ease 0s;
    }
    input[type='checkbox']:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      left: 9%;
      top: 10%;
      background-color: white;
      transform: scale(1.1);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      transition: all 0.5s ease 0s;
    }
    input:checked[type='checkbox']:before {
      left: 50%;
    }
  }
}
//each section
section {
  z-index: -1;
  background-color: var(--section-bg);
  top: 7%;
  position: absolute;
  height: 85vh;
  width: 100%;
  #coins {
    img {
 @include coins;
    } 
   
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
//Start Page (index.php) container
.start-container {
  padding-top: 2em;
  height: 70%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .col {
    width: 100%;
    .welcome {
      margin: 2em;
      padding: 3em;
      background: var(--column-bg);
      box-shadow: 0px 4px 56px var(--shadow-color);
      border-radius: 39px;
      h1 {
        font-family: $fonts;
        font-weight: bold;
        font-size: 2em;
        text-align: center;
        color: var(--color);
      }
    }
  }
  img {
    display: block;
    margin: auto;
    width: 30vw;
    filter: var(--hue);
  }
}
//get started button
.get-started {
  z-index: 2;
  background: var(--get-started-bg);
  border: 0px;
  border-radius: 25px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 49px;
  text-align: center;
  color: var(--get-started-color);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  height: 3em;
  width: 10em;
  transition: all 0.5s ease 0s;
  &:hover {
    background-color: var(--get-started-hover-bg);
    color: var(--main-color);
  }
}
//actions page
.actions-container {
  @include actions-container;
  transition: all 0.5s ease 0s;
  @include grid;
}
.income,
.outcome,
.finance {
  text-align: center;
  h1 {
    font-size: 4vh;
  }
  h2 {
    font-size: 3vh;
  }
}
.income {
  grid-area: income;
}
.outcome {
  grid-area: outcome;
}
.finance {
  grid-area: finance;
  width: 100%;
  table {
    padding: 1em;
  }
}
.submission-form {
  text-align: center;
  padding: 1vw;
  margin: 0 auto;
  max-width: 30vw;

  select,
  option {
    background: var(--input-bg);
    display: block;
    border: 2px solid var(--get-started-bg);
    font-size: 0.8em;
    width: 103%;
    color: var(--main-color);
  }
  label {
    display: block;
    padding: 1vw;
    font-size: 2vh;
  }
  input {
    @include input;
  }
  .button {
    padding: 1vw;
    margin: 0 auto;
    margin-top: 2em;
    display: block;
    max-width: 20vw;
    border-radius: 30px;
    border: 0px;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease 0s;
    &-income {
      background: #7e9c3d;
    }
    &-outcome {
      background: #d97f7f;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
}
table {
  color: var(--main-color);
  width: 100%;
  & tr {
    width: 100%;
  }
}


//wallet page
.wallet-container {
  height: 100vh; 
  @include wallet-container;
  transition: all 0.5s ease 0s;

  h1 {
    margin: 0 auto;
    padding: 1em;
    text-align: center;
  }
  form {
    padding: 0 0.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    input {
      margin: 2vw;
      @include input;
      width: 70%;
    }
    label {
      font-weight: 900;
      font-size: 3vh;
      margin: 2vw;
      text-align: center;
    }
  }
  table {
    margin: 0 auto;
    text-align: center;
    padding: 1em;
    font-size: 2.2vw;
    width: 90%;
    color: var(--main-color);
  }
}
.history {
  height: 60%;
  overflow: auto;
}

//statistics 
.chart-container {
  text-align: center;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-height: 70%;
}
.barChart {
  padding: 1em;
}
.pieChart {
  padding: 1em;
}
footer {
  color: var(--heading-color);
  z-index: 1;
  position: absolute;
  height: 8%;
  bottom: 0;
  width: 100%;
  background: var(--footer-header-bg);
  display: flex;
  justify-content: space-around;
}
//responsivity
@media (max-width: 750px) {
  .actions-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'income outcome' !important;
  }
  .finance {
    display: none !important;
  }
  .welcome {
    padding: 1em !important;
  }
  .picture {
    width: 100px !important;
  }
  nav {
    .responsive {
      z-index: -1;
      transition: all 0.5s ease 0s;
      background-color: var(--footer-header-bg);
      position: absolute;
      top: 15%;
      right: 0%;
      display: inline-block !important;
      li {
        display: block !important;
      }
    }
    ul {
      li {
        display: none !important;
      }
    }
  }
  .bars {
    display: inline-block !important;
  }
}
