@-webkit-keyframes coins {
  0% {
    opacity: 0;
    top: 0%;
  }
  10% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  30% {
    opacity: 1;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(240deg);
            transform: rotate(240deg);
  }
  70% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    opacity: 1;
    top: 95%;
  }
}

@keyframes coins {
  0% {
    opacity: 0;
    top: 0%;
  }
  10% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  30% {
    opacity: 1;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(240deg);
            transform: rotate(240deg);
  }
  70% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    opacity: 1;
    top: 95%;
  }
}

body {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100vw;
}

/*Header with flexbox (for navbar)*/
header {
  padding: 0.5em;
  color: white;
  height: 5vh;
  background: #70a300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav {
  margin: 0;
}

header nav .nav__links {
  list-style: none;
}

header nav .nav__links li {
  display: inline-block;
  padding: 1rem 20px;
}

header nav .nav__links li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

header nav .nav__links li a:hover {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: black;
}

section {
  height: 80vh;
}

.start-container {
  margin-top: 2em;
  height: 85%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.start-container .col {
  width: 100%;
}

.start-container .col .welcome {
  margin: 2em;
  padding: 3em;
  background: #f5f5f5;
  -webkit-box-shadow: 0px 4px 56px #c4c4c4;
          box-shadow: 0px 4px 56px #c4c4c4;
  border-radius: 39px;
}

.start-container .col .welcome h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  line-height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 10px 0px;
  color: #2a8a84;
}

.start-container .col .description {
  margin: 1em;
  padding: 1em;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.start-container .col p {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.start-container img {
  display: block;
  margin: auto;
  width: 30vw;
}

.universal-container {
  height: 100%;
  margin: 0 auto;
  margin-top: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  background: #f5f5f5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 56px #c4c4c4;
          box-shadow: 0px 4px 56px #c4c4c4;
  border-radius: 39px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "income finance finance outcome";
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.income, .outcome, .finance {
  text-align: center;
}

.income h1, .outcome h1, .finance h1 {
  font-size: 4vw;
}

.income h2, .outcome h2, .finance h2 {
  font-size: 2vw;
}

.income {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: income;
}

.outcome {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: outcome;
}

.finance {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: finance;
  width: 100%;
}

.finance table {
  padding: 1em;
}

.submission-form {
  text-align: center;
  max-width: 20vw;
  padding: 1vw;
  margin: 0 auto;
  border-radius: 5px;
}

.submission-form select, .submission-form select option {
  display: block;
  padding: 1vw;
  border: 2px solid #206c1c;
  font-size: 0.8em;
  width: 100%;
}

.submission-form label {
  display: block;
  padding: 1vw;
  font-size: 80%;
}

.submission-form input, .submission-form textarea {
  display: block;
  border: 2px solid #206c1c;
  font-size: 14px;
  border-radius: 5px;
  width: 100%;
}

.submission-form .button {
  padding: 1vw;
  margin: 0 auto;
  margin-top: 2em;
  display: block;
  max-width: 20vw;
  border-radius: 30px;
  border: 0px;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.submission-form .button-income {
  background: #7E9C3D;
}

.submission-form .button-outcome {
  background: #D97F7F;
}

.submission-form .button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

table {
  width: 100%;
}

table tr {
  width: 100%;
}

.get-started {
  z-index: 1;
  background: #639100;
  border: 0px;
  border-radius: 25px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 49px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  height: 3em;
  width: 10em;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.get-started:hover {
  background-color: lightgreen;
  color: black;
}

.wallet-container {
  height: 100vh;
  /* or position:absolute; height:100%; */
  position: relative;
  height: 100%;
  margin: 0 auto;
  margin-top: 2em;
  width: 90%;
  background: #f5f5f5;
  -webkit-box-shadow: 0px 4px 56px #c4c4c4;
          box-shadow: 0px 4px 56px #c4c4c4;
  border-radius: 39px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.wallet-container h1 {
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}

.wallet-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wallet-container form input {
  margin: 2vw;
  display: block;
  border: 2px solid #206c1c;
  font-size: 14px;
  border-radius: 5px;
  width: 70%;
}

.wallet-container form label {
  font-weight: 900;
  font-size: 16px;
  margin: 2vw;
  text-align: center;
}

.wallet-container table {
  margin: 0 auto;
  text-align: center;
  padding: 1em;
  font-size: 2.2vw;
  width: 90%;
}

.history {
  height: 70%;
  overflow: auto;
}

footer {
  background: #9dbc5a;
  height: 5vh;
}

@media (max-width: 750px) {
  .universal-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "income outcome" !important;
  }
  .finance {
    display: none !important;
  }
  .welcome {
    padding: 1em !important;
  }
  .description {
    display: none !important;
  }
  .picture {
    width: 100px !important;
  }
}
/*# sourceMappingURL=style.css.map */